doctype html  
html(lang='en')  
    head
        title View Secret Data
        link(href='/decrypt/main.css' rel='stylesheet')
    body
        h1 Decrypt Page!
        form(action='/decrypt' method='post') 
            input(type='hidden' name='link' value=link)
            input(class='password' name='pswd' type='password' 
                placeholder='Password' required maxlength='64')
            input(type='radio' name='action' value='view' checked)
            span View 
            input(type='radio' name='action' value='delete')
            span Delete 
            br
            br
            button(type='submit') Submit
